.bg-body{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100vh;
}

.bg-gradient{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    color: white;
}